* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  height: 610px;
}

.hero-section {
  position: relative;
  height: 610px;
}

.index-h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 20%;
  margin-right: 50%;
}
.index-subheader {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-right: 50%;
}

.index-photo-1 {
  position: absolute;
  left: 4%;
  z-index: 10;
  width: 340px;
  top: 40%;
}
.index-photo-2 {
  position: absolute;
  left: 54%;
  z-index: 10;
  width: 140px;
  top: 60%;
}
.index-photo-3 {
  position: absolute;
  left: 62%;
  width: 210px;
  bottom: 30%;
}

.marketingsstrategier-knap {
  position: absolute;
  bottom: 10%;
  left: 10%;
  padding: 21px 46px;
  background-color: #e21e27;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  width: 39%;
}

.gul-kasse {
  background-color: #ffd998;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  line-height: 170%;
}

.handler-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.index-undertekst {
  padding: 20px;
  margin: 20px;
  font-size: 18px;
  line-height: 150%;
}

.kampagner-index {
  background-color: #ececec;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
}

.strategier {
  width: 300px;
  max-width: 80%;
  padding: 10px;
}

.cardimg {
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.gul-kasse-2-h2 {
  background-color: #ffd998;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  line-height: 170%;
  margin-right: 51%;
  margin-left: 3%;
  margin-top: 10%;
  position: relative; /* vigtigt */
}

.gul-kasse-2-p {
  background-color: #ffd998;
  padding: 20px;
  border-radius: 8px;
  line-height: 170%;
  margin-right: 4%;
  margin-left: 3%;
  margin-top: -4%;
  margin-bottom: 10%;
}

.donkey,
.gule-stole,
.gutter,
.wall {
  width: 500px;
  height: auto;
  display: flex;
  border-radius: 8px;
}

.grid_plakater {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 kolonner */
  gap: 20px; /* afstand mellem kolonnerne */
  margin: 21px;
}

.kolonne {
  display: flex;
  flex-direction: column; /* stable billeder lodret */
  gap: 20px; /* afstand mellem billederne */
}

.kolonne img {
  width: 100%; /* fylder kolonnen */
  height: auto;
  display: block;
}

@media (min-width: 800px) {
  .index-photo-1 {
    position: absolute;
    left: 40%;
    z-index: 10;
    width: 380px;
    top: 23%;
  }

  .index-h1 {
    color: white;
    font-size: 48px;
    text-align: center;
    padding-top: 20%;
    margin-right: 64%;
  }

  .index-subheader {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
    margin-right: 64%;
  }

  .marketingsstrategier-knap {
    position: absolute;
    bottom: 10%;
    left: 11%;
    padding: 20px 79px;
    background-color: #e21e27;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    width: 23%;
  }

  .index-undertekst {
    padding: 20px;
    margin: 50px;
    font-size: 18px;
    line-height: 150%;
    margin-left: 2%;
  }

  .index-photo-2 {
    position: absolute;
    left: 62%;
    z-index: 10;
    width: 170px;
    top: 48%;
  }
  .index-photo-3 {
    position: absolute;
    left: 70%;
    width: 250px;
    bottom: 15%;
  }
  .grid_1-1 {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-top: 3%;
  }

  .gul-kasse {
    background-color: #ffd998;
    padding: 30px;
    border-radius: 8px;
    margin: 20px;
    line-height: 170%;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2%;
    margin-bottom: 5%;
  }

  .kampagner-index {
    background-color: #ececec;
    padding: 20px;
    border-radius: 8px;
    margin: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
  }

  .gul-kasse-2-h2 {
    background-color: #ffd998;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    line-height: 170%;
    margin-left: 1%;
    margin-top: 3%;
    position: relative;
  }

  .gul-kasse-2-p {
    background-color: #ffd998;
    padding: 20px;
    border-radius: 8px;
    line-height: 200%;
    margin-left: 1%;
    margin-top: -2%;
    margin-bottom: 5%;
  }

  .strategi-layout {
    display: grid;
    grid-template-columns: 1fr 1fr; /* to kolonner */
    align-items: start; /* top-align kolonner */
    margin: 40px;
  }

  .tekst-kolonne {
    display: flex;
    flex-direction: column;
  }

  .billede-kolonne {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 kolonner med billeder */
    gap: 10px;
  }

  .kolonne {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .kolonne img {
    width: 100%;
    height: auto;
    display: block;
  }
}
