* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav__links .dropdown-content {
  display: none;
  flex-direction: column;
  gap: 20px;
  padding-top: 5%;
  padding-bottom: 25%;
}
.dropdown-content {
  padding-bottom: 5%;
}
.nav__links .dropdown.open .dropdown-content {
  display: flex;
  text-align: center;
}
ul {
  font-size: 15px;
}
p {
  font-size: 15px;
  line-height: 150%;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
html {
  scroll-behavior: smooth;
}
.hero-section {
  overflow-x: hidden;
}
hr {
  margin-inline: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-top: solid 2px #21303f;
}
.samarbejder {
  width: 100%;
  height: auto;
  padding-top: 15%;
  background-color: #ffe9c3;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 15%;
}
.modstå-ks {
  background-color: #ffe9c3;
  padding: 2%;
  border-radius: 30px;
  margin-bottom: 2%;
  margin-inline: 10%;
  text-align: center;
}
.modstå-ks h4 {
  font-size: x-large;
  padding-bottom: 3%;
}
.dk-logo-footer {
  width: 30%;
  height: auto;
  display: flex;
  margin: auto;
}
.a1508-logo {
  width: 40%;
  display: flex;
  margin: auto;
}
.ek-logo {
  width: 40%;
  display: flex;
  margin: auto;
}
.heroimg {
  width: 100%;
  height: auto;
  z-index: -1;
  position: absolute;
}
section {
  overflow-x: hidden;
}
.h-dynamisk {
  color: white;
  text-align: center;
  padding-top: 20%;
  font-size: xx-large;
  padding-bottom: 2%;
}
.h2-dynamisk {
  font-size: 25px;
  text-align: center;
  color: white;
}
.ks-container {
  padding-top: 10%;
  padding-inline: 3%;
}
.ks ul {
  text-decoration: dotted;
  gap: 5%;
  padding-inline: 5%;
}
.ksd1 ul {
  text-decoration: dotted;
  gap: 5%;
  padding-inline: 5%;
}
.ks li {
  padding-top: 3%;
}
.ksd1 li {
  padding-top: 3%;
}
.hvader1 {
  font-size: 50px;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 5%;
}
.dynamisk-img {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 0 0 30px 30px;
}
.dynamisk-img1 {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 0 0 30px 30px;
}
.ks h4 {
  padding-top: 6%;
  text-align: center;
}
.ksd1 h4 {
  padding-top: 6%;
  text-align: center;
}
.desktop {
  display: none;
}
.ks {
  color: #ffffff;
  background-color: #21303f;
  padding-inline: 2%;
  padding-top: 3%;
  border-radius: 30px 30px 0 0;
}
.dynamisk-hvader {
  margin-top: 30%;
  margin-right: 10%;
  background-color: #ffd998;
  padding: 2%;
  border-radius: 0 30px 30px 0;
}
.sådangørdu {
  text-align: center;
  padding-top: 5%;
  padding-inline: 5%;
}
.hvader {
  font-size: xx-large;
}

/* footer */
.footer {
  gap: 1%;
  margin: 1%;
}
.heroimg {
  width: 100%;
  height: auto;
}
h1,
.subheader {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: inline-block;
  text-align: left;
  padding-bottom: 2%;
}
li {
  color: white;
  text-align: left;
}
.footer-text {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 2%;
  margin-top: 2%;
  text-align: center;
  padding-bottom: 2%;
}
.footer-bold {
  font-weight: bold;
  color: white;
  padding-bottom: 1%;
  padding-top: 2%;
  font-size: large;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.blå-boks {
  border-radius: 30px;
  background-color: #21303f;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  margin-inline: 2%;
  text-align: center;
  margin-bottom: 2%;
  height: auto;
}
.rød-boks {
  background-color: #e21e27;
  border-radius: 30px;
  margin-inline: 2%;
  padding-bottom: 5%;
  height: auto;
}
.dk-logo {
  display: block;
  width: 20%;
  height: auto;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* menubar */
.nav {
  width: 94%;
  margin-top: 2%;
  margin-inline: 3%;
  background-color: #e21e27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 50;
  border-radius: 30px;
  padding-inline: 1%;
  padding-block: 1%;
}

.nav__logo img {
  width: 90px;
  height: auto;
  padding-left: 2%;
}

.nav__burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 3%;
}

.nav__burger span {
  display: block;
  width: 26px;
  height: 2px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
  transition: all 0.3s ease;
}
.ks p {
  margin-inline: 5%;
  padding-top: 5%;
}
.nav__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #f5f0e7;
  padding-right: 5%;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.nav__links.open {
  right: 0;
}

.forbrugsrejse-hero {
  position: relative;
  width: 100%;
  height: 520px;
  background-image: url("/img/forbrugsrejse_hero.webp");
  background-size: cover;
  background-position: center;
  z-index: 0;
  overflow: hidden;
}
.forbrugsrejse-body {
  background-color: #21303f;
  background-image: url(/img/linje.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.modstå-ks p {
  padding-top: 2%;
  padding-bottom: 2%;
}
.ks1,
.ks2,
.ks3,
.ks4,
.ks5,
.ks6,
.ks7,
.ks8 {
  margin-top: 10%;
  margin-inline: 5%;
  border-radius: 30px;
  padding-inline: 20%;
  text-align: center;
  margin-bottom: 10%;
  padding: 1%;
}
.ks1 {
  background-color: #ffffff;
}
.ks2 {
  background-color: #fff2d9;
}
.ks3 {
  background-color: #ffd998;
}
.ks4 {
  background-color: #ffc27a;
}
.ks5 {
  background-color: #ff8a5b;
}
.ks6 {
  background-color: #f04a4a;
}
.ks7 {
  background-color: #e21e28;
}
.ks8 {
  background-color: #565955;
}

.cards {
  background-color: #21303f;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  color: white;
  padding: 6%;
  margin: 2%;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
a:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
.cards-knap {
  color: white;
  text-decoration: none;
}
.dropdown-content {
  display: none;
}
.dropbtn {
  background-color: #f5f0e7;
  color: black;
  padding: 16px;
  font-size: large;
  border: none;
  cursor: pointer;
}
.mobil {
  display: block;
}

@media (min-width: 800px) {
  .ks1,
  .ks2,
  .ks3,
  .ks4,
  .ks5,
  .ks6,
  .ks7,
  .ks8 {
    margin-top: 10%;
    margin-inline: 0%;
    border-radius: 30px;
    padding-inline: 1%;
    text-align: left;
    margin-bottom: 10%;
    font-size: x-large;
  }

  .desktop {
    display: block;
  }
  .mobil {
    display: none;
  }
  .ul-ned {
    padding-top: 10%;
    padding-inline: 5%;
  }
  .nav__links .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background: #e21e27;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  .nav__links .dropdown:hover .dropdown-content {
    display: flex;
  }
  .h-dynamisk {
    font-size: 80px;
    text-align: left;
    margin-left: 5%;
    padding-bottom: 10%;
  }
  .h2-dynamisk {
    font-size: 50px;
    text-align: left;
    padding-right: 25%;
    margin-left: 5%;
  }
  .modstå-ks {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    gap: 5%;
  }
  .modstå-ks p {
    padding-inline: 10%;

    padding-top: 0%;
    padding-bottom: 0%;
  }
  .modstå-ks h4 {
    font-size: xx-large;
  }
  .nav-item:hover .dropdown {
    display: block;
  }
  .dk-logo-footer {
    width: 50%;
    margin-top: 20%;
  }
  .a1508-logo {
    width: 60%;
    margin-top: 15%;
  }
  .ek-logo {
    width: 100%;
    margin-top: 20%;
  }
  hr {
    display: none;
  }
  .vertical {
    border-left: 6px solid black;
    height: 200px;
    display: flex;
    margin: auto;
  }
  .samarbejder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    padding-top: 90px;
    background-color: #ffe9c3;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
  }
  .h-forbrugsrejse {
    position: relative;
    top: 30%;
    padding-right: 50%;
    left: 5%;
    color: white;
  }

  .ksd1 p {
    margin-inline: 5%;
    padding-top: 5%;
  }

  h4 {
    text-align: center;
    font-size: 23px;
  }
  .ksh3 {
    padding-bottom: 2%;
    padding-top: 5%;
    text-align: center;
  }
  .ks1 {
    position: relative;
    margin-inline: 35%;
    left: 20%;
  }
  .ks2 {
    position: relative;
    margin-inline: 35%;
    left: 10%;
  }
  .ks3 {
    position: relative;
    margin-inline: 35%;
    left: -5%;
  }
  .ks4 {
    position: relative;
    margin-inline: 35%;
    left: -5%;
  }
  .ks5 {
    position: relative;
    margin-inline: 35%;
    left: 20%;
  }
  .ks6 {
    position: relative;
    margin-inline: 35%;
    left: 15%;
  }
  .ks7 {
    position: relative;
    margin-inline: 35%;
  }
  .ks8 {
    position: relative;
    margin-inline: 35%;
    left: -10%;
  }

  .forbrugsrejse-body {
    background-color: #21303f;
    background-image: url(/public/img/group30.webp);
    background-repeat: no-repeat;
    background-position: center;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2%;
    margin-bottom: 5%;
  }
  /* menu */
  .nav__burger {
    display: none;
  }

  .nav__links {
    position: static;
    height: auto;
    flex-direction: row;
    gap: 3rem;
    background: none;
    padding-right: 5%;
    width: auto;
    justify-content: flex-end;
  }

  .nav__links a {
    font-size: 1rem;
    color: #ffffff;
  }
  /* footer */

  ul {
    display: block;
    font-size: 20px;
  }
  .footer-text {
    text-align: left;
  }
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .blå-boks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5%;
    text-align: left;
    height: 350px;
  }

  .blå-boks p.footer-bold {
    margin-bottom: 25px; /* juster tallet til hvor meget afstand du vil have */
  }

  /* Afstand mellem hvert punkt i listen */
  .blå-boks li {
    margin-bottom: 18px; /* afstand mellem hvert punkt */
  }

  .rød-boks {
    border-radius: 30px;
    height: 350px;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: white;
    color: black;
  }

  /* Show the dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown {
    position: relative;
  }

  /* Style the dropdown button */

  /* Dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e21e27;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropbtn {
    background-color: #e21e27;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dynamisk-hvader {
    background-color: #ececec;
    justify-content: center;
    margin-top: 41%;
    margin-right: 0%;
    background-color: #ffd998;
    margin-inline: 15%;
    border-radius: 30px;
  }
  .sådangørdu h3 {
    font-size: xx-large;
    padding-bottom: 2%;
  }
  .ks-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 8%;
    padding-inline: 0;
  }
  .ks {
    position: relative;
    height: 700px;
    border-radius: 0 30px 30px 0;
    width: 110%;
    z-index: 1;
    margin-left: 0;
  }
  .ksd1 {
    position: relative;
    height: 700px;
    border-radius: 30px 0 0 30px;
    width: 100%;
    z-index: 1;
    color: #ffffff;
    background-color: #21303f;
    padding-inline: 2%;
    padding-top: 3%;
    margin-bottom: 1%;
  }
  .dynamisk-img {
    margin-top: 12.5%;
    width: 100%;
    border-radius: 30px;
  }
  .dynamisk-img1 {
    margin-top: 10%;
    width: 110%;
    border-radius: 30px;
  }
  ul {
    font-size: 20px;
  }
  p {
    font-size: 20px;
  }
}
