* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  color: white;
}
.footer-text {
  color: white;
}
.footer-bold {
  font-weight: bold;
  color: white;
  padding-bottom: 1%;
  padding-top: 2%;
  font-size: large;
}
.blå-boks {
  border-radius: 30px;
  background-color: #21303f;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  margin-inline: 2%;
}
.rød-boks {
  background-color: red;
  border-radius: 30px;
  margin-inline: 2%;
}
.dk-logo {
  width: 20%;
  height: auto;
}
@media (min-width: 800px) {
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1%;
    margin: 1%;
  }
  .blå-boks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5%;
  }
  .rød-boks {
    background-color: red;
    border-radius: 30px;
  }
  .dk-logo {
    width: 20%;
    height: auto;
  }
}
