* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.heroimg {
  width: 100%;
  height: auto;
  z-index: -1;
  position: absolute;
}
section {
  overflow-x: hidden;
}
.h-dynamisk {
  position: relative;
  left: 5%;
  color: white;
  padding-top: 15%;
  font-size: xx-large;
  padding-right: 50%;
}
/* footer */
.footer {
  gap: 1%;
  margin: 1%;
}
.heroimg {
  width: 100%;
  height: auto;
}
h1,
.subheader {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: inline-block;
  text-align: left;
  padding-bottom: 2%;
}
li {
  color: white;
  text-align: left;
}
.footer-text {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 2%;
  margin-top: 2%;
  text-align: center;
  padding-bottom: 2%;
}
.footer-bold {
  font-weight: bold;
  color: white;
  padding-bottom: 1%;
  padding-top: 2%;
  font-size: large;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.blå-boks {
  border-radius: 30px;
  background-color: #21303f;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  margin-inline: 2%;
  text-align: center;
  margin-bottom: 2%;
  height: auto;
}
.rød-boks {
  background-color: #e21e27;
  border-radius: 30px;
  margin-inline: 2%;
  padding-bottom: 5%;
  height: auto;
}
.dk-logo {
  display: block;
  width: 20%;
  height: auto;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* menubar */
.nav {
  width: 94%;
  margin-top: 2%;
  margin-inline: 3%;
  background-color: #e21e27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 50;
  border-radius: 30px;
  padding-inline: 1%;
}

.nav__logo img {
  width: 90px;
  height: auto;
}

.nav__burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav__burger span {
  display: block;
  width: 26px;
  height: 2px;
  background: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.nav__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #f5f0e7;
  padding: 2rem;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.nav__links.open {
  right: 0;
}

.forbrugsrejse-hero {
  position: relative;
  width: 100%;
  height: 520px;
  background-image: url("/img/forbrugsrejse_hero.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  overflow: hidden;
}
.forbrugsrejse-body {
  background-color: #21303f;
  background-image: url(/img/linje.png);
  background-repeat: no-repeat;
  background-position: center;
}

.ks1,
.ks2,
.ks3,
.ks4,
.ks5,
.ks6,
.ks7,
.ks8 {
  background-color: #f4916d;
  margin-top: 10%;
  margin-inline: 5%;
  border-radius: 30px;
  padding-inline: 20%;
  text-align: center;
  margin-bottom: 10%;
}
.cards {
  background-color: #21303f;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2%;
  margin: 2%;
}
a {
  text-decoration: none;
  color: black;
}
.cards-knap {
  color: white;
  text-decoration: none;
}
.dropdown-content {
  display: none;
}
.dropbtn {
  background-color: #f5f0e7;
  color: black;
  padding: 16px;
  font-size: large;
  border: none;
  cursor: pointer;
}
@media (min-width: 800px) {
  .h-dynamisk {
    position: relative;
    left: 5%;
    color: white;
    padding-top: 15%;
    font-size: xxx-large;
    padding-right: 50%;
  }
  .ks1,
  .ks2,
  .ks3,
  .ks4,
  .ks5,
  .ks6,
  .ks7,
  .ks8 {
    background-color: #f4916d;
    margin-top: 10%;
    margin-inline: 0%;
    border-radius: 30px;
    padding-inline: 1%;
    text-align: left;
    margin-bottom: 10%;
    font-size: x-large;
  }
  .nav-item:hover .dropdown {
    display: block;
  }

  .h-forbrugsrejse {
    position: relative;
    top: 30%;
    padding-right: 50%;
    left: 5%;
  }
  h4 {
    font-size: xx-large;
    text-align: center;
  }
  .ks1 {
    position: relative;
    margin-inline: 35%;
    left: 20%;
  }
  .ks2 {
    position: relative;
    margin-inline: 35%;
    left: 10%;
  }
  .ks3 {
    position: relative;
    margin-inline: 35%;
    left: -5%;
  }
  .ks4 {
    position: relative;
    margin-inline: 35%;
    left: -5%;
  }
  .ks5 {
    position: relative;
    margin-inline: 35%;
    left: 20%;
  }
  .ks6 {
    position: relative;
    margin-inline: 35%;
    left: 15%;
  }
  .ks7 {
    position: relative;
    margin-inline: 35%;
  }
  .ks8 {
    position: relative;
    margin-inline: 35%;
    left: -10%;
  }
  a :hover {
    transform: scale(1.02);
    transition: 0.3s;
  }
  .forbrugsrejse-body {
    background-color: #21303f;
    background-image: url(/public/img/group30.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2%;
    margin-bottom: 5%;
  }
  /* menu */
  .nav__burger {
    display: none;
  }

  .nav__links {
    position: static;
    height: auto;
    flex-direction: row;
    gap: 2rem;
    background: none;
    padding: 0;
    width: auto;
    justify-content: flex-end;
  }

  .nav__links a {
    font-size: 1rem;
    color: #ffffff;
  }
  /* footer */

  ul {
    display: block;
  }
  .footer-text {
    text-align: left;
  }
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .blå-boks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5%;
    text-align: left;
    height: 250px;
  }
  .rød-boks {
    border-radius: 30px;
    height: 250px;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: white;
    color: black;
  }

  /* Show the dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown {
    position: relative;
  }

  /* Style the dropdown button */

  /* Dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e21e27;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropbtn {
    background-color: #e21e27;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
}
