* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.footer {
  gap: 1%;
  margin: 1%;
}

ul {
  display: inline-block;
  text-align: left;
  padding-bottom: 2%;
}
li {
  color: white;
  text-align: left;
}
.footer-text {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 2%;
  margin-top: 2%;
  text-align: center;
  padding-bottom: 2%;
}
.footer-bold {
  font-weight: bold;
  color: white;
  padding-bottom: 1%;
  padding-top: 2%;
  font-size: large;
}
.blå-boks {
  border-radius: 30px;
  background-color: #21303f;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  margin-inline: 2%;
  text-align: center;
  margin-bottom: 2%;
  height: auto;
}
.rød-boks {
  background-color: red;
  border-radius: 30px;
  margin-inline: 2%;
  padding-bottom: 5%;
  height: auto;
}
.dk-logo {
  display: block;
  width: 20%;
  height: auto;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
@media (min-width: 800px) {
  ul {
    display: block;
  }
  .footer-text {
    text-align: left;
  }
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .blå-boks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5%;
    text-align: left;
    height: 250px;
  }
  .rød-boks {
    background-color: red;
    border-radius: 30px;
    height: 250px;
  }
}
