---
import PageLayout from "../layout/pagelayout.astro";
---

<PageLayout>
  <section class="forbrugsrejse-body">
    <div class="forbrugsrejse-hero">
      <h1>Tag med på rejsen som forbruger</h1>
      <h2>Overforbrug sker sjældent bevidst. Denne rejse viser det loop, mange forbrugere ubevidst bevæger sig rundt i.</h2>
    </div>
  </section>
</PageLayout>
