---
import PageLayout from "../layout/pagelayout.astro";
---

<PageLayout>
  <img src="/public/img/index-background.png" alt="index-background" />
  <h1>Dankort. Brug med omtanke.</h1>
  <p>bslbl</p>
</PageLayout>
