---
import PageLayout from "../layout/pagelayout.astro";
import Card from "../components/card.astro";

const url = "https://ijtlezplttycjslwxysk.supabase.co/rest/v1/Marketingsstrategier";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqdGxlenBsdHR5Y2pzbHd4eXNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0NDg4OTEsImV4cCI6MjA4MTAyNDg5MX0.P-yOEe5G0FoE8Wt5nNe2eYvCKR_nA6q1gTM-Gagytp0";
const options = {
  headers: {
    apikey: key,
  },
};

const res = await fetch(url, options);
const supaData = await res.json();
console.log("supaData", supaData);
---

<PageLayout>
  <img src="/img/index-background.png" alt="index-background" class="img-hero" />

  <div class="hero-section">
    <h1 class="h-forbrugsrejse">Dankort.</h1>
    <h2 class="h-forbrugsrejse">Brug med omtanke.</h2>
    <img src="/img/posters-hold.png" alt="posters-hold" class="index-photo-1" />
    <img src="/img/mess.png" alt="mess" class="index-photo-2" />
    <img src="/img/overforbrug.png" alt="overforbrug" class="index-photo-3" />
    <a href="#marketingsstrategi" class="marketingsstrategier-knap">Marketingsstrategier ➜</a>
  </div>
  <section class="grid_1-1">
    <div class="gul-kasse">
      <h2>Hvorfor køber vi mere, end vi har brug for?</h2>
      <br />
      <p>Danskerne hører til blandt verdens mest købestærke forbrugere, og hvert år fortsætter vores forbrug med at stige. Men vores dette har en høj pris for klimaet.</p>
      <br />
      <p>Bag næsten hvert køb ligger der strategier, du sjældent lægger mærke til. Marketingbranchen arbejder systematisk med psykologiske greb, der påvirker vores følelser, vaner og identitet - ofte uden at vi opdager det. Gennem alt fra målrettede annoncer og sociale sammenligninger til kunstigt skabte behov får vi oplevelsen af, at vi mangler noget, selv når vi egentlig har nok.</p>
      <br />
      <p><strong>Disse teknikker former ikke bare vores ønsker - de skaber helt nye behov. Og ofte er de behov mere illusion end virkelighed.</strong></p>
      <a class="om-knap">Om kampagnen ➜</a>
    </div>
    <div class="handler-img">
      <img src="/img/handler.png" alt="handler" />
    </div>
  </section>
  <div class="index-undertekst">
    <h2>Tag kontrollen tilbage over manipulerende marketing</h2>
    <br />
    <p>Bliv bevidst om de strategier, marketingbranchen bruger til dagligt for at påvirke dit forbrug. Når du kender mekanismerne bag manipulationen, bliver det langt lettere at spotte dem i hverdagen og undgå at blive fanget af en forførende og konstant pressende markedsføring.</p>
  </div>
  <div id="marketingsstrategi" class="kampagner-index">
    <h2 class="tekst-til-marketing">Lær at gennemskue tre populære marketingsstrategier</h2>
    <div class="grid_1-1-1">
      {supaData.map((Marketingsstrategier) => <Card data={Marketingsstrategier} />)}
    </div>
  </div>
  <div class="strategi-layout">
    <div class="tekst-kolonne">
      <div class="gul-kasse-2-h2">
        <h2>Brug dit Dankort med omtanke</h2>
      </div>
      <div class="gul-kasse-2-p">
        <p>I en hverdag fyldt med reklamer, algoritmer og skjulte salgsstrategier bliver det stadig sværere at navigere som forbruger. Mange køb sker ikke, fordi vi reelt har brug for noget, men fordi marketing målrettet påvirker vores følelser, vaner og opmærksomhed. Med denne kampagne ønsker vi at give danskerne et klarere indblik i de mekanismer, der skaber falske behov og driver overforbrug. Jo bedre vi forstår teknikkerne bag, desto lettere kan vi stå imod, træffe bevidste valg og bruge vores Dankort med omtanke.</p>
      </div>
    </div>
    <div class="billede-kolonne grid_plakater">
      <div class="kolonne">
        <img class="donkey" src="/img/donkey.png" alt="donkey" />
        <img class="gule-stole" src="/img/gule-stole.png" alt="gule-stole" />
      </div>
      <div class="kolonne">
        <img class="gutter" src="/img/gutter.png" alt="gutter" />
        <img class="wall" src="/img/wall.png" alt="wall" />
      </div>
    </div>
  </div>
</PageLayout>
