<footer class="footer">
  <div class="blå-boks">
    <div>
      <p class="footer-bold">Dankort</p>
      <ul>
        <li>Om Dankort</li>
        <li>Presse</li>
        <li>Logo og billeder</li>
      </ul>
    </div>
    <div>
      <p class="footer-bold">Support</p>
      <ul>
        <li>Kontakt salg</li>
        <li>Kontakt kundeservice</li>
        <li>Support erhverv</li>
        <li>Support privat</li>
      </ul>
    </div>
    <div>
      <p class="footer-bold">Politikker</p>
      <ul>
        <li>Privatlivspolitikker</li>
        <li>cookies</li>
        <li>AEE regulativ</li>
        <li>hej</li>
      </ul>
    </div>
  </div>
  <div class="rød-boks">
    <img class="dk-logo" src="/img/DK-logo.png" alt="dankort-logo" />

    <p class="footer-text">Brug med</p>
    <p class="footer-text">omtanke</p>
  </div>
</footer>
