<footer class="footer">
  <div class="blå-boks">
    <div>
      <p class="footer-bold">Dankort</p>
      <ul>
        <li>
          <li><a href="https://dankort.dk/dankort" target="_blank">Om Dankort</a></li>
          <li><a href="https://dankort.dk/presse" target="_blank">Presse</a></li>
          <li><a href="https://dankort.dk/logo-og-billeder" target="_blank">Logo og billeder</a></li>
        </li>
      </ul>
      <div>
        <p class="footer-bold">Support</p>
        <ul>
          <li><a href="https://dankort.dk/kontakt-salg" target="_blank">Kontakt salg</a></li>
          <li><a href="https://dankort.dk/kontakt-erhverv" target="_blank">Kontakt kundeservice</a></li>
          <li><a href="https://dankort.dk/support-erhverv" target="_blank">Support erhverv</a></li>
          <li><a href="https://dankort.dk/support-privat" target="_blank">Support privat</a></li>
        </ul>
      </div>
      <div>
        <p class="footer-bold">Politikker</p>
        <ul>
          <li><a href="https://www.nets.eu/GDPR/Pages/Privacy-notice-for-nets.aspx" target="_blank">Privatlivspolitikker</a></li>
          <li><a href="https://www.nets.eu/dk-da/Pages/cookie-policy.aspx" target="_blank">cookies</a></li>
          <li><a href="https://support.nets.eu/da-DK/article/general-nexi-group-statement?__hstc=79159691.fe425ce03c33d4250e52f36263ecb825.1755247721148.1759946849211.1759991617922.41&__hssc=79159691.1.1759991617922&__hsfp=2836217097" target="_blank">AEE regulativ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="rød-boks">
    <img class="dk-logo" src="/img/DK-logo.png" alt="dankort-logo" />

    <p class="footer-text">Brug med</p>
    <p class="footer-text">omtanke</p>
  </div>
</footer>
