---
const url = "https://ijtlezplttycjslwxysk.supabase.co/rest/v1/Marketingsstrategier";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqdGxlenBsdHR5Y2pzbHd4eXNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0NDg4OTEsImV4cCI6MjA4MTAyNDg5MX0.P-yOEe5G0FoE8Wt5nNe2eYvCKR_nA6q1gTM-Gagytp0";

const res = await fetch(url, {
  headers: { apikey: key },
});

const strategier = await res.json();
---

<nav class="nav">
  <div class="nav__logo">
    <a href="/">
      <img src="/img/DK-logo.png" alt="Logo" />
    </a>
  </div>

  <button class="nav__burger" aria-label="Menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="nav__links">
    <div class="dropdown">
      <button class="dropbtn">Marketingsstrategier</button>

      <div class="dropdown-content">
        {strategier.map((strategi) => <a href={`/Marketingsstrategier/${strategi.slug}`}>{strategi.strateginavn}</a>)}
      </div>
    </div>

    <a href="/forbrugsrejse">Forbrugsrejse</a>
    <a href="/app">Om kampagnen</a>
  </div>

  <script type="module" client:load>
    const burger = document.querySelector(".nav__burger");
    const menu = document.querySelector(".nav__links");

    burger.addEventListener("click", () => {
      menu.classList.toggle("open");
    });
  </script>
</nav>
